<div class="main">
    <div class="text">
        <div style="width: 35%; text-align: right; padding-left: 15rem;">
            <h2 style="color:white; line-height: 240%;"><b style="color:yellow;">Pitagorax</b> es una empresa especializada en el desarrollo y gestión de productos de software, propios o de terceros. Contáctanos y descubre en qué te puede ayudar a tí la transformación digital.</h2>
        </div>
        <div style="width: 50%; text-align: center;">
        <video controls style="min-width: 320px;
            width: 520px;
            height: auto;
            border: 3px hsl(45, 100%, 63%) solid;
            border-radius: 10px;
            box-shadow:  0px 0px 10px 10px rgba(45,100,63,0.19), 0px 0px 10px 10px rgba(45,100, 63,0.23);">
            <source src="../../assets/video/TwicthIntro.m4v" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>  
    </div>
    </div>
    <div>
        <p style="color: white;">{{'products' | translate }}</p>
        <img class="show"  src="../../assets/images/netcore.png">
        <img class="show"  src="../../assets/images/docker.png">
        <img class="show"  src="../../assets/images/aws.png">
        <img class="show"  src="../../assets/images/angular.png">
        <img class="show"  src="../../assets/images/flutter.png">
        <img class="show"  src="../../assets/images/azure.png">
        <img class="show"  src="../../assets/images/react.png">
    </div>
    <div>
        <p>{{'technologies' | translate }}</p>
        <img class="show"  src="../../assets/images/netcore.png">
        <img class="show"  src="../../assets/images/docker.png">
        <img class="show"  src="../../assets/images/aws.png">
        <img class="show"  src="../../assets/images/angular.png">
        <img class="show"  src="../../assets/images/flutter.png">
        <img class="show"  src="../../assets/images/azure.png">
        <img class="show"  src="../../assets/images/react.png">
    </div>
    <div class="diagonal-box">
        <div class="content">  
            <p>Descubre cómo podemos ayudarte en los procesos de digitalización</p>
        </div>
    </div>
</div>

<div class="waveWrapper waveAnimation">
    <div class="waveWrapperInner bgTop">
      <div class="wave waveTop" style="filter: grayscale(100%); background-image: url('https://front-end-noobs.com/jecko/img/wave-top.png')"></div>
    </div>
    <div class="waveWrapperInner bgMiddle">
      <div class="wave waveMiddle" style="filter: grayscale(100%); background-image: url('https://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
      <div class="wave waveBottom" style="filter: grayscale(100%); background-image: url('https://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
  </div>