/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display:wght@800&display=swap");

@font-face {
  font-family: "Major";
  src: url(assets/fonts/Gugi-Regular.ttf);
}

body {
  margin: 0;
  font-family: "Major", sans-serif;
  overflow-x: hidden;
}
